body {
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
    font-family: "Inter", sans-serif;
    background-color: rgb(240, 244, 255);
}

/* Shared Styles */
.text {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 0.5);
}


.title {
    color: rgb(233, 90, 8);
    font-family: "Noto Serif", serif;
    font-weight: 700px;
    font-size: 50px;
    margin-bottom: 0;
}

.center {
    text-align: center;
}

span {
    font-family: "Noto Serif", serif;
    color: black;
}


/* Navbar Styles */
.navbar {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.navlinks {
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
}


/* Hero Section */

.hero {
    max-width: 1140px;
    margin: 0 auto;
    padding: 120px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-1 {
    font-size: 65px;
}

.hero-img {
    /* width: 570px; */
    width: 100%;
}

/* Our Plants section */

.plants {
    margin: 0 auto;
    max-width: 1140px;
}

.cards {
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;

}

.card {
    text-align: center;
}

.name {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: rgb(17, 17, 17);
    font-size: 22px;
}

.price {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: rgb(17, 17, 17);
    font-size: 22px;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgb(233, 90, 8);
    border: none;
    font-weight: 600;
    padding: 20px 80px;
    height: 50px;
    width: 270px;
    margin-bottom: 30px;
}

/* badge section */

.badge {
    max-width: 1140px;
    margin: 0 auto;
    gap: 60px;
    display: flex;
    justify-content: space-between;
    padding: 120px 15px;
}

.store-img {
    position: relative;
}

.seller {
    z-index: 1;
}

.trusted {
    padding: 15px;
    z-index: 2;
    width: 285px;
    height: 285px;
    position: absolute;
    left: 370px;
    top: -130px;
}

.store-text {
    padding: 30px;
}

.Store-li {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* deals section */
.deals {
    max-width: 1140px;
    margin: 0 auto;
}
.bloom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 200px;
    background-image: url(./assets/deal-bloom.png);
}
.ana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 200px;
    background-image: url(./assets/deal-ana.png);
}
.zabo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: 425px;
    background-image: url(./assets/deal-zabo.png);
}
.deals-img {
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}

.bloom,
.ana,
.zabo {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    font-weight: 700;
    font-size: 26px;
    color: rgb(255, 255, 255);
}
a{
   color: rgb(255, 255, 255); 
}
.deals-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}












@media screen and (max-width: 576px) {
    .title {
        font-size: 36px;
    }

    .navlinks li:not(.cart) {
        display: none;
    }

    .navlinks {
        justify-content: right;
    }

    .hero {
        text-align: center;
        flex-direction: column-reverse;

    }

    .cards {
        margin: 0 auto;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
    }

    .plants {
        margin: 0 auto;
    }

    .badge {
        flex-direction: column;

        .trusted {
            display: none;
        }
    }


}